*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.document-header {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  .suggestion {
    background-color: rgb(225, 242, 255);
    border-radius: 5px;
    list-style-type: none;
    padding: 8px 12px;
    cursor: pointer;
    margin: none;
  }
   ul{
    list-style-type: none;
    display: inline;

  }
  
  .suggestion-highlighted {
    background-color: lightblue;
    transition: 0.3s;
  }